<!--

<app-string-interpolation></app-string-interpolation>

 <app-property-binding></app-property-binding>
 
<app-event-binding></app-event-binding>


<app-two-way-data-binding></app-two-way-data-binding>


<app-ng-style></app-ng-style>


<app-ng-class></app-ng-class>



<app-ng-if></app-ng-if>

    

    <app-main-nav>
       <app-vaca></app-vaca>
    </app-main-nav>
   
    <app-ngswhich></app-ngswhich>
 <app-ng-template></app-ng-template>
 
  <app-ngcontainer></app-ngcontainer>
   -->
   <app-ng-content>
      <p>My name is <strong>Homer Simpson</strong>, nice to meet you.</p>
      <p>Please give me a beer</p>
   </app-ng-content>